In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn import svm
from sklearn.svm import SVC

In [2]:
spx=pd.read_csv('C:/Users/Administrator/Downloads/archive (1)/ADANIPORTS.csv')
spx

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-11-27,MUNDRAPORT,EQ,440.00,770.00,1050.00,770.00,959.0,962.90,984.72,27294366,2.687719e+15,NaN,9859619,0.3612
1,2007-11-28,MUNDRAPORT,EQ,962.90,984.00,990.00,874.00,885.0,893.90,941.38,4581338,4.312765e+14,NaN,1453278,0.3172
2,2007-11-29,MUNDRAPORT,EQ,893.90,909.00,914.75,841.00,887.0,884.20,888.09,5124121,4.550658e+14,NaN,1069678,0.2088
3,2007-11-30,MUNDRAPORT,EQ,884.20,890.00,958.00,890.00,929.0,921.55,929.17,4609762,4.283257e+14,NaN,1260913,0.2735
4,2007-12-03,MUNDRAPORT,EQ,921.55,939.75,995.00,922.00,980.0,969.30,965.65,2977470,2.875200e+14,NaN,816123,0.2741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,2021-04-26,ADANIPORTS,EQ,725.35,733.00,739.65,728.90,729.2,730.75,733.25,9390549,6.885658e+14,116457.0,838079,0.0892
3318,2021-04-27,ADANIPORTS,EQ,730.75,735.00,757.50,727.35,748.6,749.15,747.67,20573107,1.538191e+15,236896.0,1779639,0.0865
3319,2021-04-28,ADANIPORTS,EQ,749.15,755.00,760.00,741.10,743.4,746.25,751.02,11156977,8.379106e+14,130847.0,1342353,0.1203
3320,2021-04-29,ADANIPORTS,EQ,746.25,753.20,765.85,743.40,746.4,746.75,753.06,13851910,1.043139e+15,153293.0,1304895,0.0942
3321,2021-04-30,ADANIPORTS,EQ,746.75,739.00,759.45,724.50,726.4,730.05,743.35,12600934,9.366911e+14,132141.0,3514692,0.2789

In [3]:
spx['Symbol'] = LabelEncoder().fit_transform(spx['Symbol'])
spx['Symbol']

0       1
1       1
2       1
3       1
4       1
       ..
3317    0
3318    0
3319    0
3320    0
3321    0
Name: Symbol, Length: 3322, dtype: int32

In [4]:
spx['Series'] = LabelEncoder().fit_transform(spx['Series'])
spx['Series']

0       0
1       0
2       0
3       0
4       0
       ..
3317    0
3318    0
3319    0
3320    0
3321    0
Name: Series, Length: 3322, dtype: int32

In [5]:
spx['Prev Close'] = LabelEncoder().fit_transform(spx['Prev Close'])
spx['Prev Close']

0       2060
1       2644
2       2641
3       2638
4       2643
        ...
3317    2489
3318    2503
3319    2545
3320    2537
3321    2539
Name: Prev Close, Length: 3322, dtype: int64

In [6]:
spx['Open'] = LabelEncoder().fit_transform(spx['Open'])
spx['Open']

0       2159
1       2224
2       2221
3       2218
4       2223
        ...
3317    2110
3318    2115
3319    2145
3320    2143
3321    2123
Name: Open, Length: 3322, dtype: int64

In [7]:
spx['High'] = LabelEncoder().fit_transform(spx['High'])
spx['High']

0       2470
1       2467
2       2462
3       2466
4       2468
        ...
3317    2327
3318    2362
3319    2370
3320    2380
3321    2367
Name: High, Length: 3322, dtype: int64

In [8]:
spx['Low'] = LabelEncoder().fit_transform(spx['Low'])
spx['Low']

0       2399
1       2448
2       2443
3       2449
4       2450
        ...
3317    2352
3318    2350
3319    2370
3320    2375
3321    2341
Name: Low, Length: 3322, dtype: int64

In [9]:
spx['Last'] = LabelEncoder().fit_transform(spx['Last'])
spx['Last']

0       2410
1       2403
2       2405
3       2409
4       2411
        ...
3317    2280
3318    2315
3319    2305
3320    2311
3321    2275
Name: Last, Length: 3322, dtype: int64

In [10]:
spx['Close'] = LabelEncoder().fit_transform(spx['Close'])
spx['Close']

0       2644
1       2641
2       2638
3       2643
4       2645
        ...
3317    2503
3318    2545
3319    2537
3320    2539
3321    2501
Name: Close, Length: 3322, dtype: int64

In [11]:
spx['VWAP'] = LabelEncoder().fit_transform(spx['VWAP'])
spx['VWAP']

0       3141
1       3139
2       3134
3       3138
4       3140
        ...
3317    3000
3318    3034
3319    3041
3320    3042
3321    3024
Name: VWAP, Length: 3322, dtype: int64

In [12]:
spx['Volume'] = LabelEncoder().fit_transform(spx['Volume'])
spx['Volume']

0       3309
1       2751
2       2865
3       2760
4       2192
        ...
3317    3182
3318    3292
3319    3223
3320    3255
3321    3246
Name: Volume, Length: 3322, dtype: int64

In [13]:
spx['Turnover'] = LabelEncoder().fit_transform(spx['Turnover'])
spx['Turnover']

0       3316
1       3225
2       3228
3       3221
4       3146
        ...
3317    3262
3318    3304
3319    3278
3320    3287
3321    3282
Name: Turnover, Length: 3322, dtype: int64

In [14]:
spx['Trades'] = LabelEncoder().fit_transform(spx['Trades'])
spx['Trades']

0       2417
1       2417
2       2417
3       2417
4       2417
        ...
3317    2319
3318    2395
3319    2336
3320    2358
3321    2337
Name: Trades, Length: 3322, dtype: int64

In [15]:
spx['Deliverable Volume'] = LabelEncoder().fit_transform(spx['Deliverable Volume'])
spx['Deliverable Volume']

0       3315
1       2365
2       2003
3       2190
4       1668
        ...
3317    1699
3318    2591
3319    2277
3320    2244
3321    3149
Name: Deliverable Volume, Length: 3322, dtype: int64

In [16]:
spx = spx.fillna(spx.mean())
spx

C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_4036/3728254585.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  spx = spx.fillna(spx.mean())

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2007-11-27,1,0,2060,2159,2470,2399,2410,2644,3141,3309,3316,2417,3315,0.3612
1,2007-11-28,1,0,2644,2224,2467,2448,2403,2641,3139,2751,3225,2417,2365,0.3172
2,2007-11-29,1,0,2641,2221,2462,2443,2405,2638,3134,2865,3228,2417,2003,0.2088
3,2007-11-30,1,0,2638,2218,2466,2449,2409,2643,3138,2760,3221,2417,2190,0.2735
4,2007-12-03,1,0,2643,2223,2468,2450,2411,2645,3140,2192,3146,2417,1668,0.2741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,2021-04-26,0,0,2489,2110,2327,2352,2280,2503,3000,3182,3262,2319,1699,0.0892
3318,2021-04-27,0,0,2503,2115,2362,2350,2315,2545,3034,3292,3304,2395,2591,0.0865
3319,2021-04-28,0,0,2545,2145,2370,2370,2305,2537,3041,3223,3278,2336,2277,0.1203
3320,2021-04-29,0,0,2537,2143,2380,2375,2311,2539,3042,3255,3287,2358,2244,0.0942
3321,2021-04-30,0,0,2539,2123,2367,2341,2275,2501,3024,3246,3282,2337,3149,0.2789

In [17]:
spx= spx.drop('Date',axis=1)
spx

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,1,0,2060,2159,2470,2399,2410,2644,3141,3309,3316,2417,3315,0.3612
1,1,0,2644,2224,2467,2448,2403,2641,3139,2751,3225,2417,2365,0.3172
2,1,0,2641,2221,2462,2443,2405,2638,3134,2865,3228,2417,2003,0.2088
3,1,0,2638,2218,2466,2449,2409,2643,3138,2760,3221,2417,2190,0.2735
4,1,0,2643,2223,2468,2450,2411,2645,3140,2192,3146,2417,1668,0.2741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,0,0,2489,2110,2327,2352,2280,2503,3000,3182,3262,2319,1699,0.0892
3318,0,0,2503,2115,2362,2350,2315,2545,3034,3292,3304,2395,2591,0.0865
3319,0,0,2545,2145,2370,2370,2305,2537,3041,3223,3278,2336,2277,0.1203
3320,0,0,2537,2143,2380,2375,2311,2539,3042,3255,3287,2358,2244,0.0942
3321,0,0,2539,2123,2367,2341,2275,2501,3024,3246,3282,2337,3149,0.2789

In [18]:
spx = spx.fillna(spx.mean())
spx

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,1,0,2060,2159,2470,2399,2410,2644,3141,3309,3316,2417,3315,0.3612
1,1,0,2644,2224,2467,2448,2403,2641,3139,2751,3225,2417,2365,0.3172
2,1,0,2641,2221,2462,2443,2405,2638,3134,2865,3228,2417,2003,0.2088
3,1,0,2638,2218,2466,2449,2409,2643,3138,2760,3221,2417,2190,0.2735
4,1,0,2643,2223,2468,2450,2411,2645,3140,2192,3146,2417,1668,0.2741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,0,0,2489,2110,2327,2352,2280,2503,3000,3182,3262,2319,1699,0.0892
3318,0,0,2503,2115,2362,2350,2315,2545,3034,3292,3304,2395,2591,0.0865
3319,0,0,2545,2145,2370,2370,2305,2537,3041,3223,3278,2336,2277,0.1203
3320,0,0,2537,2143,2380,2375,2311,2539,3042,3255,3287,2358,2244,0.0942
3321,0,0,2539,2123,2367,2341,2275,2501,3024,3246,3282,2337,3149,0.2789

In [19]:
x= spx.drop('Symbol',axis=1)
y= spx['Symbol']
y = LabelEncoder().fit_transform(spx['Symbol'].astype(str))

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,
random_state=1)

In [21]:
spx

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,1,0,2060,2159,2470,2399,2410,2644,3141,3309,3316,2417,3315,0.3612
1,1,0,2644,2224,2467,2448,2403,2641,3139,2751,3225,2417,2365,0.3172
2,1,0,2641,2221,2462,2443,2405,2638,3134,2865,3228,2417,2003,0.2088
3,1,0,2638,2218,2466,2449,2409,2643,3138,2760,3221,2417,2190,0.2735
4,1,0,2643,2223,2468,2450,2411,2645,3140,2192,3146,2417,1668,0.2741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3317,0,0,2489,2110,2327,2352,2280,2503,3000,3182,3262,2319,1699,0.0892
3318,0,0,2503,2115,2362,2350,2315,2545,3034,3292,3304,2395,2591,0.0865
3319,0,0,2545,2145,2370,2370,2305,2537,3041,3223,3278,2336,2277,0.1203
3320,0,0,2537,2143,2380,2375,2311,2539,3042,3255,3287,2358,2244,0.0942
3321,0,0,2539,2123,2367,2341,2275,2501,3024,3246,3282,2337,3149,0.2789

In [22]:
model = SVC(kernel='linear')

In [23]:
b=model.fit(x_train,y_train)
b

SVC(kernel='linear')

In [24]:
c= model.predict(x_test)
print(c)

[0 0 1 0 0 1 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 1 0 0 1 1 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 1 0 0 0
 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 0 0 0 1 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0 1 1 0 0 1 0
 0 1 0 1 1 0 0 0 0 1 0 0 0 0 0 1 0 0 1 1 0 0 0 1 0 1 0 0 0 1 1 1 0 0 0 0 0
 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 1 1 0 0 1 1 0 0 0 1 0 0 0 1 0
 1 1 0 0 0 0 1 1 1 1 0 0 0 0 1 1 1 1 0 1 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 1
 0 0 1 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0
 1 0 0 0 0 1 0 0 0 1 1 1 0 1 0 0 1 0 0 0 0 1 1 0 0 1 0 0 0 1 0 0 0 0 1 0 0
 0 0 1 1 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0
 0 1 0 1 0 1 0 0 1 1 1 1 0 1 0 1 1 1 1 0 1 1 0 1 1 1 0 0 0 0 0 0 0 0 1 1 0
 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1 1 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 1 1
 0 0 0 0 1 0 0 1 0 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1
 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0
 1 0 0 0 1 1 0 0 1 1 0 0 0 1 1 0 0 0 0 0 1 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 1
 0 1 0 0 1 0 0 1 0 0 0 0 1 1 1 1 0 1 1 0 1 0 0 1 0 0 0 1 1 0 0 0 1 0 0 0 0
 0 1 1 1 0 0 1 1 0 0 0 0 1 0 0 0 1 0 0 0 0 1 1 0 0 0 0 1 0 1 0 0 0 0 1 1 0
 0 0 0 1 1 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 0 0 1 0 1 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 1 0 0 0 1 1 1 1 1 1 0 1 0 0 1 0 0 0 0 0 1
 0 0 1 1 1 1 1 0 0 0 1 0 1 0 0 0 1 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 1 1
 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1
 1 1 0 0 0 0 1 1 0 0 1 0 0 1 0 0 0 1 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 1 1
 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 1 1 0 1 0
 1 0 0 0 0 0 0 1 1 1 1 0 1 0 0 0 1 0 0 0 0 1 1 0 1 1 0 0 0 0 1 0 0 1 1 0 0
 0 0 1 0 1 1 0 1 1 1 0 0 1 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1]

In [26]:
import sklearn
acc = sklearn.metrics.accuracy_score(y_test,c)
print(acc)

0.9358074222668004